* {
	border: none;
	border-radius: 0;
	font-size: 12px;
	min-height: 0;
	font-weight: bold;
	font-family: "Inter";
}

window#waybar {
	background: rgba(0, 0, 0, 0.27);
	border-radius: 0 0 3px 3px;
	color: white;
}


#workspaces {
	padding: 5px;
}

#workspaces button {
	padding: 2px;
	background: transparent;
	color: white;
	border-top: 2px solid transparent;
}

#workspaces button.active {
	color: #fff;
	background: rgba(255, 255, 255, 0.35);
	border-radius: 3px;
}

#mode {
	background: #64727D;
	border-bottom: 3px solid white;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
	padding: 0 3px;
	margin: 0 2px;
}

#clock {
	padding-right: 10px;
}

#battery {}

#battery icon {
	color: red;
}

#battery.charging {}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: black;
	}
}

#battery.warning:not(.charging) {
	color: white;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#cpu {}

#memory {}

#network {}

#network.disconnected {
	background: #f53c3c;
}

#pulseaudio {}

#pulseaudio.muted {}

#custom-spotify {
	color: rgb(102, 220, 105);
}

#tray {}
